<?xml version='1.0' encoding='utf-8' ?>
<manifest android:versionCode="9"
          android:versionName="2.1.1"
          android:compileSdkVersion="34"
          android:compileSdkVersionCodename="14"
          package="jp.co.sony.threesixtyra.system"
          platformBuildVersionCode="34"
          platformBuildVersionName="14" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="30"
            android:targetSdkVersion="34" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.MODIFY_DEFAULT_AUDIO_EFFECTS" />
  <uses-permission android:name="android.permission.MANAGE_VOICE_KEYPHRASES" />
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
  <permission android:label="@string/perm_label_access"
              android:name="jp.co.sony.threesixtyra.system.permission.ACCESS"
              android:protectionLevel="signature"
              android:description="@string/perm_desc_access" />
  <permission android:label="@string/perm_label_obtain_hrtf"
              android:name="jp.co.sony.threesixtyra.system.permission.OBTAIN_HRTF"
              android:protectionLevel="dangerous"
              android:description="@string/perm_desc_obtain_hrtf" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <permission android:name="jp.co.sony.threesixtyra.system.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
              android:protectionLevel="signature" />
  <uses-permission android:name="jp.co.sony.threesixtyra.system.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
  <application android:label="@string/app_name"
               android:icon="@mipmap/ic_launcher"
               android:name="jp.co.sony.threesixtyra.system.MyApplication"
               android:persistent="true"
               android:allowBackup="false"
               android:extractNativeLibs="false"
               android:networkSecurityConfig="@xml/network_security_config"
               android:roundIcon="@mipmap/ic_launcher_round"
               android:appComponentFactory="androidx.core.app.CoreComponentFactory"
               android:dataExtractionRules="@xml/data_extraction_rules">
    <uses-library android:name="com.sony.threesixtyra.audiofx"
                  android:required="false" />
    <service android:name="jp.co.sony.threesixtyra.system.SystemMainService"
             android:exported="true"
             android:singleUser="true" />
    <receiver android:name="jp.co.sony.threesixtyra.system.SystemStartupReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <provider android:name="jp.co.sony.threesixtyra.system.HeadphoneProvider"
              android:enabled="true"
              android:exported="true"
              android:authorities="jp.co.sony.threesixtyra.system.HeadphoneProvider"
              android:grantUriPermissions="true"
              android:singleUser="true" />
    <provider android:name="jp.co.sony.threesixtyra.system.HrtfProvider"
              android:permission="jp.co.sony.threesixtyra.system.permission.OBTAIN_HRTF"
              android:enabled="true"
              android:exported="true"
              android:authorities="jp.co.sony.threesixtyra.system.HrtfProvider"
              android:grantUriPermissions="true"
              android:singleUser="true" />
    <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
             android:enabled="@bool/enable_system_alarm_service_default"
             android:exported="false"
             android:directBootAware="false" />
    <service android:name="androidx.work.impl.background.systemjob.SystemJobService"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:enabled="@bool/enable_system_job_service_default"
             android:exported="true"
             android:directBootAware="false" />
    <service android:name="androidx.work.impl.foreground.SystemForegroundService"
             android:enabled="@bool/enable_system_foreground_service_default"
             android:exported="false"
             android:directBootAware="false" />
    <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
              android:enabled="true"
              android:exported="false"
              android:directBootAware="false" />
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_OKAY" />
        <action android:name="android.intent.action.BATTERY_LOW" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
        <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
              android:enabled="@bool/enable_system_alarm_service_default"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
              android:permission="android.permission.DUMP"
              android:enabled="true"
              android:exported="true"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
      </intent-filter>
    </receiver>
    <service android:name="androidx.room.MultiInstanceInvalidationService"
             android:exported="false"
             android:directBootAware="true" />
  </application>
</manifest>